/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/04/2019, 14:57:15
    Author     : wsantos
*/

body{
  background: #fff;
  
  background: -webkit-linear-gradient(to bottom, #fff 50%, #fff) !important;
  background: -moz-linear-gradient(to bottom, #fff 50%, #fff) !important;
  background: -ms-linear-gradient(to bottom, #fff 50%, #fff) !important;
  background: -o-linear-gradient(to bottom, #fff 50%, #fff) !important;
  background: linear-gradient(to bottom, #fff 100%, #fff) !important;
  color: black;
}

div.well{
  height: 250px;
} 

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 50%; 
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}

#logo-container{
  margin: auto;
  margin-bottom: 10px;
  width:200px;
  height:30px;
  background-image:url('http://placehold.it/200x30/000000/ffffff/&text=BRAND+LOGO');
}