@media(max-width: 700px){
  .table-resp thead{
    display: none;
  }

  .table-resp tr{
      display: block;
      border-bottom: 2px solid #dce0e0;
  }

  .table-resp tr td{
      width: 100%;
      display: block;
      text-align: right;
      border-bottom: 1px dotted #ccc;
  }

  .table-resp tr td:last-child {
    border-bottom: 0;
  }

  .table-resp tr td:before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      font-size: 12px;
  }
}












