/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/03/2019, 16:23:39
    Author     : wsantos
*/

*{margin: 0; padding: 0; border: 0;}
/**
*
*/
body{ background-color: #f9f2f4; }
/**
*
*/
.Header{}
/**
*
*/
.Main{}


*{margin:0; padding: 0; box-sizing: border-box;}
 
.content{display:flex; margin: auto; margin-bottom: 5px;}

.rTable{width: 100%; text-align: center; margin-top: 5px; }
    .rTable thead{background: #F0F8FF; font-weight: bold; color:#00BFFF;}
    .rTable tbody tr:nth-child(2n){background: #51484F;}
    .rTable th , .rTable td{padding: 7px 0;}
  

@media screen and (max-width: 480px){
    .content{width: 94%;}

    .rTable thead{display:none;}
    .rTable tbody td{display: flex; flex-direction: column; }
}

@media only screen and (min-width: 1200px){
    .content{width:100%;}
    .rTable tbody tr td:nth-child(1){width:10%;}
    .rTable tbody tr td:nth-child(2){width:30%;}
    .rTable tbody tr td:nth-child(3){width:20%;}
    .rTable tbody tr td:nth-child(4){width:10%;}
    .rTable tbody tr td:nth-child(5){width:30%;}
}
